aria2p==0.6.0
asciimatics==1.11.0
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
future==0.18.2
idna==2.8
keyboard==0.13.4
loguru==0.4.0
MouseInfo==0.1.2
Pillow==6.2.1
PyAutoGUI==0.9.48
pyfiglet==0.8.post1
PyGetWindow==0.0.8
PyMsgBox==1.0.7
pyperclip==1.7.0
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.25
python-dateutil==2.8.1
PyTweening==1.0.3
pywin32==227
requests==2.22.0
rope==0.14.0
six==1.13.0
urllib3==1.25.7
wcwidth==0.1.7
websocket-client==0.56.0
win32-setctime==1.0.1
